body {
    background: var(--image-url) no-repeat;
    background-size: cover; 
    width: 390px;
}

h2 {
    font-size: 30px;
    color: var(--text-color);
}

.container {
    padding-top: 12px;
}

.form {
    border-radius: 0;
    margin: 7px 7px 7px 7px;
    padding: 15px 15px 15px 15px;
    border-radius: 25px;
    box-shadow: 0 0 4px 2px var(--border-color);
}

.input {
    padding: 12px;
}

.group-button {
    margin-top: 40px;
    text-align: center;
}

img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.logo {
    text-align: center;
}

.registr-button {
    margin-left: 25px;
}

.pt-5 {
    padding-top: 10px;
}