h3 {
    padding: 0;
    font-size: 14px;
}

.group {
    padding-top: 16px;
}

.group .subgroup {
    padding-top: 20px;
}

#title {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (min-width: 230px) {
    .test {
        display: inline-flex;
    }
    #icon-inst {
        padding-left: 24px;
    }
}