@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
/* font-family: 'Roboto', sans-serif; */
@font-face {
    font-family: fast1k;
    src: url(../font/graphclt.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #E6E6E6;
}

/* Товары */
.content {
    width: 100%;
    margin-top: 80px;
   
}

.product-not {
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;
    max-width: 100%;
    padding: 0 40px;
}

/* Карточка товара */
.product {
    background-color: white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    padding: 25px 7px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.product:hover {
    transform: scale(1.15);
    transition: all 0.3s ease-out 0s;
    box-shadow: 0 0 3px 1px black;
}

/* фото товара */
.product-img {
    order: -2;
    text-align: center;
}

.product-img img {
    height: 180px;
}

img {
    max-width: 100%;
    object-fit: contain;
}

/* Информация о товаре */
.product-info {
    margin-top: 7px;
    display: flex;
    order: -1;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    justify-content: space-between;
}

.product-title {
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}

.product-price {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

/* Кнопки товара */
.buttons {
    align-items: flex-end;
    margin: 15px 5px 5px 5px;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.btn-more {
    background-color: #f48061;
    color: white;
/*     background: transparent; */
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.btn-more:focus {
    outline: none;
}

.btn-more:active {
    outline: none;
    color: white;
}

@media (max-width: 768px) {
    .products {
        padding: 0;
        justify-content: center;
    }
    .product {
        width: 90%;
        margin-right: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .product:hover {
        transform: none;
    }

    .product-title {
        order: -2;
        text-align: left;
        margin-bottom: 5px;
    }
    .buttons {
        height: max-content;
    }
    .product-info {
        order: -1;
        width: 100%;
        justify-content: flex-start;
        margin-bottom: 20px;
    }
    .product-article {
        margin-right: 20px;
    }
}

@media (min-width: 768px) {
    .product {
        width: calc(90%/3);
    }
}

@media (min-width: 1000px) {
    .product {
        width: calc(90%/4);
    }
}

@media (min-width: 1500px) {
    .product {
        width: calc(90%/5);
    }
}

@media (min-width: 1856px) {
    .product {
        width: calc(90%/6);
    }
}
