/* оранжевый внешний отспуп, зеленый внутренней отступ, синий площать объекта */

:root {
    --font-size: 20px
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

/* Верхнее меню на сайте */
.top-menu {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 50;
    padding: 0 20px;
}

.top-menu::before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: black;
}

.header {
    display: flex;
}

/* Логотип */
.header-logo {
    margin-right: 20px;
    display: flex;
    font-size: calc(var(--font-size) + 5px);
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 2;
}

.header-logo h2 {
    margin: auto 0;
}

.header-logo h2:hover {
    color: #daa520;
}

/* Иконка аккаунта */
.account {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    z-index: 2;
}

.account i {
    margin: auto 0;
    color: white;
    font-size: calc(var(--font-size) + 15px);
}

.account i:hover {
    color: #daa520;
}

.btn-list {
    list-style-type: none;
    display: block;
    width: max-content;
}

li > button {
    background: transparent;
    border: none;
    padding: 12px 12px;
    font-size: var(--font-size);
    color: white;
    width: 100%;
    border-radius: 12px;
    text-align: left;
    margin-top: 5px;
}

button:focus {
    outline: none;
}

button.is-active {
    color: #ffffff;
    box-shadow: 0 0 5px 1px #daa520;
    background-color: #daa520;
}

.burger {
    display: block;
    margin: auto 0;
    font-size: calc(var(--font-size) + 13px);
    color: white;
    z-index: 2;
}

.burger:hover {
    color: #daa520;
}

.header-logo {
    margin: 0 20px;
}

.nav-menu {
    position: fixed;
    margin-top: 43px;
    top: 0;
    left: -100%;
    width: max-content;
    height: 100%;
    /* background-color: darkgray; */
    background-color: black;
    transition: left 0.7s ease-out 0s;
    padding: 12px;
    z-index: 1;
    overflow-y: scroll;
}

.nav-menu.active-menu {
    left: 0;
}

.openmenu {
    overflow: hidden;
}